.mainPagePatientProfile-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.patient-title {
  display: flex;
  justify-content: start;
}

.patient-title h2 {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.personal-info {
  margin-bottom: 50px;
}
