.paitent-mainpage-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  /* max-width: 1200px; */
  justify-content: flex-start;
  align-items: center;
  margin-top: 1.5rem;
  padding: 3rem;
}
