.allergy-list {
  background-color: lavender;
  height: 100vh;
  padding: 4rem;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  width: 100%;
  text-align: center;
}

.container h1 {
  font-size: 1.75rem;
  font-weight: 400;
  color: #333;
  margin-bottom: 1rem !important;
}

.addButton {
  margin-bottom: 1.5rem;
  text-align: left;
}


.MuiOutlinedInput-notchedOutline {
  border-color: #9C6ADE !important;
}

.MuiButton-outlinedPrimary {
  margin-bottom: 32px !important;
}

.MuiFormControl-marginNormal {
  margin-top: -8px !important;
  margin-bottom: 40px !important;
}

.alert-success {
  margin-bottom: 3rem !important;
}