.patient-list {
  background-color: lavender;
  width: 100%;
  height: auto;
  /* max-width: 960px; */
  padding: 4rem;
  height: 100vh;
  margin: 0 auto;
  /* margin-top: 40px; */
}

.provider-search-list {
  background-color: lavender;
  width: 100%;
  height: auto;
  padding: 4rem;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: end;
}

.provider-search-list h1 {
  width: 100%;
  margin-bottom: 2.5rem;
  font-size: 1.75rem;
  font-weight: 400;
  color: #333;
  text-align: center;
}

.patient-list h1 {
  width: 100%;
  margin-bottom: 2.5rem;
  font-size: 1.75rem;
  font-weight: 400;
  color: #333;
  text-align: center;
}

.container_patient {
  width: 100%;
  max-width: 960px;
  padding: 3rem;
  height: 100vh;
  margin: 0 auto;
  margin-top: 40px;
}
.container_patient h1 {
  width: 100%;
  margin-bottom: 2.5rem;
  font-size: 1.75rem;
  font-weight: 400;
  color: #333;
}

.register_provider_form {
  margin-top: 20px;
}
h2 {
  margin: 20px auto;
}

.list {
  background-color: lavender;
  height: 100vh;
  padding: 40px;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  width: 100%;
  text-align: center;
}

.container h1 {
  margin-bottom: 3rem !important;
}

.healthCardLink {
  color: blue;
}

.healthCardLink:hover {
  color: lavender;
}