.provider-list {
  background-color: lavender;
  width: 100%;
  height: auto;
  /* max-width: 960px; */
  padding: 4rem;
  height: 100vh;
  margin: 0 auto;
  /* margin-top: 40px; */
}

.provider-list h1 {
  width: 100%;
  margin-bottom: 2.5rem;
  font-size: 1.75rem;
  font-weight: 400;
  color: #333;
  text-align: center;
}

.container_addProvider {
  max-width: 960px;
  /* height: 100vh; */
  padding: 3rem;
  margin: 0 auto;
  margin-top: 40px;
}
.container_addProvider h1 {
  width: 100%;
  margin-bottom: 2.5rem;
  font-size: 1.75rem;
  font-weight: 400;
  color: #333;
  text-align: center;
}

.container_searchProvider {
  max-width: 960px;
  height: 100vh;
  padding: 3rem;
  margin: 0 auto;
  margin-top: 40px;
}
.container_searchProvider h1 {
  width: 100%;
  margin-bottom: 2.5rem;
  font-size: 1.75rem;
  font-weight: 400;
  color: #333;
  text-align: center;
}

.register_provider_form {
  margin-top: 20px;
}
h2 {
  margin: 20px auto;
}

.details {
  font-weight: 500;
  color: #ffffff;
  background-color: #5a67d8;
  border-radius: 4px;
  padding: 4px;
  min-width: 100px;
}

.hgtqYB {
  width: 90% !important;
}