.patient-note {
  max-width: 1040px; 
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;
  height: 100vh;
}

.patient-note h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem !important;
}

.patient-note Button {
  margin-bottom: 1.5rem;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #9c6ade !important;
}

.MuiButton-outlinedPrimary {
  margin-bottom: 32px !important;
}
